@import "https://fonts.googleapis.com/css?family=Roboto+Mono:400,700";
body {
  color: white;
  background-color: #111;
  font-family: "Roboto Mono"; }

:local(.container) {
  width: 60px;
  height: 60px;
  position: absolute; }

:local(.car) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

:local(.house) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("../img/house.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

:local(.subcell00) {
  top: 0px;
  left: 0px; }

:local(.subcell01) {
  top: 0px;
  left: 60px; }

:local(.subcell02) {
  top: 0px;
  left: 120px; }

:local(.subcell10) {
  top: 60px;
  left: 0px; }

:local(.subcell11) {
  top: 60px;
  left: 60px; }

:local(.subcell12) {
  top: 60px;
  left: 120px; }

:local(.subcell20) {
  top: 120px;
  left: 0px; }

:local(.subcell21) {
  top: 120px;
  left: 60px; }

:local(.subcell22) {
  top: 120px;
  left: 120px; }

:local(.r0000), :local(.r1000), :local(.r1100), :local(.r1010), :local(.r1110), :local(.r1111), :local(.r2010) {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%; }

:local(.r0000) {
  background-image: url("../img/0000.svg"); }

:local(.r1000) {
  background-image: url("../img/1000.svg"); }

:local(.r1100) {
  background-image: url("../img/1100.svg"); }

:local(.r1010) {
  background-image: url("../img/1010.svg"); }

:local(.r1110) {
  background-image: url("../img/1110.svg"); }

:local(.r1111) {
  background-image: url("../img/1111.svg"); }

:local(.r2010) {
  background-image: url("../img/2010.svg"); }
