<html>

<head>
    <title>Prime Influencers Programme</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/prime.css">
</head>

<body>
    <header>
        <h1>The Prime Influencers Programme</h1>
    </header>

    <div id="content">
        <div id="main">

            <main>
                <h1>Introducing...
                    <span class="big">Boost
                        <sup>&beta;</sup>
                    </span>
                </h1>

                <div id="main-text">
                    <p>
                        The Boost bonus features are still currently in beta. Currently, we are accepting early-adopter signups at our
                        <a href="/beta/signup">signup page</a>.
                    </p>

                    <p>If you're a developer, take a look at our
                        <a href="/beta/api">API documentation</a>!</p>
                </div>
            </main>
        </div>
    </div>
</body>

</html>