<html>

<head>
    <title>Boost Signup</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div id="content">
        <main>

            <h1>Boost
                <sup>&beta;</sup> Signup</h1>

            <form action="/beta/signup" method="POST">
                <input id="username-textbox" class="textbox-rounded" name="username" type="text" placeholder="Username" />
                <button id="signup-button" class="pure-button button-rounded" type="submit" value="Submit">Sign Up</button>
            </form>
        </main>
    </div>
</body>

</html>