<html>

<head>
    <title>Sorry!</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/sorry.css">
</head>

<body>
    <div id="content">

        <div id="message">
            <img class="inline" src="/imgs/tired.png" alt="Tired" height="70px"></img>
            <h1 class="inline">Uh oh.</h1>

            <p>Sorry, it doesn't look like you have a high enough rating to signup. Maybe you should try talking to support.</p>
        </div>

    </div>
</body>

</html>