<html>

<head>
    <title>You're signed up!</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/thanks.css">
</head>

<body>
    <div id="content">

        <div id="message">
            <img class="inline" src="/imgs/celebrate.png" alt="Celebrate" height="70px"></img>
            <h1 class="inline">You're all signed up!</h1>

            <p>Thanks for signing up! We'll contact you as soon as we release our Boost features to our first wave of users.</p>
        </div>

    </div>
</body>

</html>